<div class="col-md-12">
<h1 class="headerAlign" style='margin-top: 120px; font-size: 40px;'><b>Contact Us</b></h1>
<hr>
<h4 id="subTitle"><i >Official Contact Information of Aviators Music Group. For All Inquires & Questions.</i></h4>

<!-- Do not change the code! -->
<div id=hideForm>
<a id="foxyform_embed_link_773874" href="http://www.foxyform.com/">foxyform</a>
<script type="text/javascript">
(function(d, t){
   var g = d.createElement(t),
       s = d.getElementsByTagName(t)[0];
   g.src = "http://www.foxyform.com/js.php?id=773874&sec_hash=e0f180a3b96&width=350px";
   s.parentNode.insertBefore(g, s);
}(document, "script"));
</script>
</div>
<!-- Do not change the code! -->

<br>

<hr id="hideLine">
<p id="contactMargin"class="bodyAlign" style="font-size: 18px;">
Good x Will: <i class="fa fa-instagram"></i> @goodxwill<br>
Rose: <i class="fa fa-instagram"></i> @rosexamg <a style="color: black;"href="https://twitter.com/triggara"><br>
AMG: <i class="fa fa-twitter"></i> @riseaboveamg</a><br>
Phone: 973-752-8237<br>
Email: riseaboveamg@gmail.com<br>
Soundcloud: <a style="color: black;" href="https://soundcloud.com/aviatorsmusicgroup">soundcloud.com/aviatorsmusicgroup </a><br>
Soundclick: <a style="color: black;" href="http://members.soundclick.com/AMG+RiseAbove">members.soundclick.com/AMG+RiseAbove</a><br>
Videographer: Kindsey Young<br>
Email: kindseyla@gmail.com<br>
</p>
</div>