<div class="col-md-12">
					<h1 class="headerAlign" style="margin-top: 120px; font-size: 40px; text-align: center;"><b>Songs</b></h1>
					<div id="container">
	 <!--<div id="audio-image">
	 <img class="cover" />
	</div>-->
<!--	<div id="audio-player">
		<div id="audio-info">
			<span class="artist"></span> - <span class="title"></span>
		</div>
		 <input id="volume" type="range" min="0" max="10" value="5" />
		 <br>
		 <div id="buttons">
		 <span>
			<button id="prev"></button>
			<button id="play"></button>
			<button id="pause"></button>
			<button id="stop"></button>
			<button id="next"></button>
			</span>
		 </div>
		 <div class="clearfix"></div>
		 <div id="tracker">
			<div id="progressBar">
				<span id="progress"></span>
			</div>
			<span id="duration"></span>
		 </div>
		 <div class="clearfix"></div>
		 <ul id="playlist">
		     <li song="Diamonds - Fresh Moss.mp3" cover="cover1.jpg" artist="Fresh Moss">Fresh Moss- Diamonds</li>
		     <li song="Run It Up - Fresh Moss.mp3" cover="cover1.jpg" artist="Fresh Moss">Fresh Moss - Run It Up</li>
		     <li song="Slow - Fresh Moss ft Ye Ali.mp3" cover="cover1.jpg" artist="Fresh Moss">Fresh Moss ft Ye Ali - Slow</li>
		    <li song="Cold Waters - Fresh Moss.mp3" cover="cover1.jpg" artist="Fresh Moss">Fresh Moss - Cold Waters</li>
		</ul>
	</div>-->
	
		<iframe width="100%" height="520" scrolling="no" frameborder="no" src="https://www.reverbnation.com/widget_code/html_widget/artist_5971660?widget_id=55&pwc[included_songs]=1&context_type=page_object&spoid=artist_5971660" style="width:0px;min-width:100%;max-width:100%;"></iframe>
	<br>
	<br>
	<br>

</div>

</div>